<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace=
      "~{layouts/layout :: head('Dashboard')}">
</head>

<body>

<header th:replace=
        "~{fragments/header :: header}">
</header>

<main class="container">

    <div class="card">

        <h1>Dashboard</h1>

        <p>Đăng nhập thành công.</p>

        <p th:if="${currentUser != null}">
            Họ tên:
            <strong th:text="${currentUser.fullName}">
            </strong>
        </p>

        <p th:if="${currentUser != null}">
            Email:
            <strong th:text="${currentUser.email}">
            </strong>
        </p>

        <p th:if="${currentUser != null}">
            Role:
            <strong th:text="${currentUser.roleName}">
            </strong>
        </p>

    </div>

</main>

</body>
</html>